<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body style="background-color:#000000;">

<div class="jumbotron text-center" style="background-color:#222244;">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/house-logo.png">
    </a>
    <h1>#maps</h1>
    <p style='color:white'>Maps are chosen randomly based on number of players, however veto votes eliminate up to two maps from selection.</p>
  </div>
</div>
<div class="container" style="background-color:#000000 !important;">
  <table style='border-spacing: 30px 0 !important; border-collapse: separate !important; margin-left: auto !important; margin-right: auto !important;'>
    <tr>
      <th><h5 style='color:white'>1. CLASSICVILLE</h5></th>
      <th><h5 style='color:white'>2. PEACEFUL PIER</h5></th>
      <th><h5 style='color:white'>3. WINCHESTERTONVILLE</h5></th>
      <th><h5 style='color:white'>4. TINY TOWN</h5></th>
      <th><h5 style='color:white'>5. AGILE OASIS</h5></th>
      <th><h5 style='color:white'>6. WEEKEND'S BANE</h5></th>
    </tr>
    <tr>
       <td style = "padding: 5px 0 !important;vertical-align: top !important;">
        <p style='color:white'>The original town map featuring a well-balanced and relatively simple role distribution.</p>
       </td>
       <td style = "padding: 5px 0 !important;vertical-align: top !important;">
        <p style='color:white'>Anything but peaceful, this map is a slightly more passive variation of the original Classicville.</p>
       </td>
       <td style = "padding: 5px 0 !important;vertical-align: top !important;">
        <p style='color:white'>This town features a slightly more aggressive set of roles than the original Classicville.</p>
       </td>
       <td style = "padding: 5px 0 !important;vertical-align: top !important;">
        <p style='color:white'>With no Seer or Lich, more Villagers and more neutral roles, this is a town ruled by uncertainty and intuition.</p>
       </td>
       <td style = "padding: 5px 0 !important;vertical-align: top !important;">
        <p style='color:white'>An incredibly strong monster triad is kept in check by an armed and capable set of townfolk.</p>
       </td>
       <td>
        <p style='color:white'>With less predictable townfolk, the monsters must bind the Archdemon carefully to avoid impaling the bound player.</p>
       </td>
    </tr>
    <tr>
     <td style = "padding: 5px 0 !important;vertical-align: top !important;">
       <p style='color:white'>PLAYERS (x12 - x14)</p>
       <small style='color:white; display:block;'>(x2 - x4)Villager</small>
       <small style='color:white; display:block;'>(x1)Seer</small>
       <small style='color:white; display:block;'>(x1)Fool</small>
       <small style='color:white; display:block;'>(x1)Beholder</small>
       <small style='color:white; display:block;'>(x1)Paladin</small>
       <small style='color:white; display:block;'>(x1)Hunter</small>
       <small style='color:white; display:block;'>(x1)Assassin</small>
       <small style='color:white; display:block;'>(x1)Cursed</small>
       <small style='color:white; display:block;'>(x1)Ghoul</small>
       <small style='color:white; display:block;'>(x1)Shade</small>
       <small style='color:white; display:block;'>(x1)Lich</small>
     </td>
     <td style = "padding: 5px 0 !important;vertical-align: top !important;">
       <p style='color:white'>PLAYERS (x12 - x14)</p>
       <small style='color:white; display:block;'>(x2 - x4)Villager</small>
       <small style='color:white; display:block;'>(x1)Seer</small>
       <small style='color:white; display:block;'>(x1)Fool</small>
       <small style='color:white; display:block;'>(x1)Apprentice</small>
       <small style='color:white; display:block;'>(x1)Paladin</small>
       <small style='color:white; display:block;'>(x1)Hunter</small>
       <small style='color:white; display:block;'>(x1)Drunk</small>
       <small style='color:white; display:block;'>(x1)Cursed</small>
       <small style='color:white; display:block;'>(x1)Imp</small>
       <small style='color:white; display:block;'>(x1)Shade</small>
       <small style='color:white; display:block;'>(x1)Lich</small>
     </td>
     <td style = "padding: 5px 0 !important;vertical-align: top !important;">
       <p style='color:white'>PLAYERS (x12 - x14)</p>
       <small style='color:white; display:block;'>(x2 - x4)Villager</small>
       <small style='color:white; display:block;'>(x1)Seer</small>
       <small style='color:white; display:block;'>(x1)Fool</small>
       <small style='color:white; display:block;'>(x1)Cryptkeeper</small>
       <small style='color:white; display:block;'>(x1)Paladin</small>
       <small style='color:white; display:block;'>(x1)Hunter</small>
       <small style='color:white; display:block;'>(x1)Assassin</small>
       <small style='color:white; display:block;'>(x1)Techie</small>
       <small style='color:white; display:block;'>(x1)Zombie</small>
       <small style='color:white; display:block;'>(x1)Ghoul</small>
       <small style='color:white; display:block;'>(x1)Lich</small>
     </td>
     <td style = "padding: 5px 0 !important;vertical-align: top !important;">
       <p style='color:white'>PLAYERS (x12 - x14)</p>
       <small style='color:white; display:block;'>(x3 - x5)Villager</small>
       <small style='color:white; display:block;'>(x2)Mason</small>
       <small style='color:white; display:block;'>(x1)Mayor</small>
       <small style='color:white; display:block;'>(x1)Paladin</small>
       <small style='color:white; display:block;'>(x1)Hunter</small>
       <small style='color:white; display:block;'>(x1)Hazmat</small>
       <small style='color:white; display:block;'>(x1)Mantis</small>
       <small style='color:white; display:block;'>(x1)Ghoul</small>
       <small style='color:white; display:block;'>(x1)Spectre</small>
     </td>
     <td style = "padding: 5px 0 !important;vertical-align: top !important;">
       <p style='color:white'>PLAYERS (x12 - x14)</p>
       <small style='color:white; display:block;'>(x2 - x4)Villager</small>
       <small style='color:white; display:block;'>(x1)Paladin</small>
       <small style='color:white; display:block;'>(x1)Seer</small>
       <small style='color:white; display:block;'>(x1)Fool</small>
       <small style='color:white; display:block;'>(x1)Apprentice</small>
       <small style='color:white; display:block;'>(x1)Courier</small>
       <small style='color:white; display:block;'>(x1)Cryptkeeper</small>
       <small style='color:white; display:block;'>(x1)Mantis</small>
       <small style='color:white; display:block;'>(x1)Lich</small>
       <small style='color:white; display:block;'>(x1)Zombie</small>
       <small style='color:white; display:block;'>(x1)Spectre</small>
     </td>
     <td style = "padding: 5px 0 !important;vertical-align: top !important;">
       <p style='color:white'>PLAYERS (x12 - x14)</p>
       <small style='color:white; display:block;'>(x2 - x4)Villager</small>
       <small style='color:white; display:block;'>(x2)Duelist</small>
       <small style='color:white; display:block;'>(x1)Seer</small>
       <small style='color:white; display:block;'>(x1)Fool</small>
       <small style='color:white; display:block;'>(x1)Courier</small>
       <small style='color:white; display:block;'>(x1)Executioner</small>
       <small style='color:white; display:block;'>(x1)Archdemon</small>
       <small style='color:white; display:block;'>(x1)Bonewheel</small>
       <small style='color:white; display:block;'>(x1)Imp</small>
       <small style='color:white; display:block;'>(x1)Mantis</small>
     </td>
    </tr>
  </table>
  <table style='border-spacing: 30px 0 !important; border-collapse: separate !important; margin-left: auto !important; margin-right: auto !important;'>
    <tr>
      <th><h5 style='color:white'>7. BIGGLESWORTH BAY</h5></th>
      <th><h5 style='color:white'>8. CARNAGE CATACOMBS</h5></th>
      <th><h5 style='color:white'>9. HAVOC HILLS</h5></th>
      <th><h5 style='color:white'>10. DYNAMITE DESERT</h5></th>
      <th><h5 style='color:white'>11. CARMINE COURT</h5></th>
      <th><h5 style='color:white'>12. TESTER'S BIGHT</h5></th>
    </tr>
    <tr>
       <td style = "padding: 5px 0 !important;vertical-align: top !important;">
        <p style='color:white'>Named after the original Mayor, this town is a slightly easier variation on Classicville featuring extra support from a Courier.</p>
       </td>
       <td style = "padding: 5px 0 !important;vertical-align: top !important;">
        <p style='color:white'>The townfolk must be cautious that the bickerings Duelists do not setup a path of destruction for the sinister Bonewheel Skeleton.</p>
       </td>
       <td style = "padding: 5px 0 !important;vertical-align: top !important;">
        <p style='color:white'>A twist on Bigglesworth Bay, the Mayor must struggle to keep the town in order while the Cryptkeeper investigates.</p>
       </td>
       <td style = "padding: 5px 0 !important;vertical-align: top !important;">
        <p style='color:white'>This town is dangerous and filled with lethal roles, but the monsters must tread carefully without their precious Lich.</p>
       </td>
       <td style = "padding: 5px 0 !important;vertical-align: top !important;">
        <p style='color:white'>Few Villagers, and nearly every lethal role make this town a bloodbath, with a laughing Jester at its core.</p>
       </td>
       <td>
        <p style='color:white'>All sides good and evil must be careful of the dangerous infection making rounds through the town.</p>
       </td>
    </tr>
    <tr>
     <td style = "padding: 5px 0 !important;vertical-align: top !important;">
       <p style='color:white'>PLAYERS (x13 - x15)</p>
       <small style='color:white; display:block;'>(x2 - x4)Villager</small>
       <small style='color:white; display:block;'>(x1)Seer</small>
       <small style='color:white; display:block;'>(x1)Fool</small>
       <small style='color:white; display:block;'>(x1)Beholder</small>
       <small style='color:white; display:block;'>(x1)Courier</small>
       <small style='color:white; display:block;'>(x1)Paladin</small>
       <small style='color:white; display:block;'>(x1)Hunter</small>
       <small style='color:white; display:block;'>(x1)Assassin</small>
       <small style='color:white; display:block;'>(x1)Cursed</small>
       <small style='color:white; display:block;'>(x1)Ghoul</small>
       <small style='color:white; display:block;'>(x1)Lich</small>
       <small style='color:white; display:block;'>(x1)Shade</small>
     </td>
     <td style = "padding: 5px 0 !important;vertical-align: top !important;">
       <p style='color:white'>PLAYERS (x13 - x15)</p>
       <small style='color:white; display:block;'>(x2 - x4)Villager</small>
       <small style='color:white; display:block;'>(x2)Duelist</small>
       <small style='color:white; display:block;'>(x1)Seer</small>
       <small style='color:white; display:block;'>(x1)Fool</small>
       <small style='color:white; display:block;'>(x1)Apprentice</small>
       <small style='color:white; display:block;'>(x1)Courier</small>
       <small style='color:white; display:block;'>(x1)Paladin</small>
       <small style='color:white; display:block;'>(x1)Hunter</small>
       <small style='color:white; display:block;'>(x1)Bonewheel</small>
       <small style='color:white; display:block;'>(x1)Spectre</small>
       <small style='color:white; display:block;'>(x1)Imp</small>
     </td>
     <td style = "padding: 5px 0 !important;vertical-align: top !important;">
       <p style='color:white'>PLAYERS (x13 - x15)</p>
       <small style='color:white; display:block;'>(x2 - x4)Villager</small>
       <small style='color:white; display:block;'>(x1)Seer</small>
       <small style='color:white; display:block;'>(x1)Fool</small>
       <small style='color:white; display:block;'>(x1)Cryptkeeper</small>
       <small style='color:white; display:block;'>(x1)Mayor</small>
       <small style='color:white; display:block;'>(x1)Paladin</small>
       <small style='color:white; display:block;'>(x1)Hunter</small>
       <small style='color:white; display:block;'>(x1)Techie</small>
       <small style='color:white; display:block;'>(x1)Cursed</small>
       <small style='color:white; display:block;'>(x1)Ghoul</small>
       <small style='color:white; display:block;'>(x1)Lich</small>
       <small style='color:white; display:block;'>(x1)Shade</small>
     </td>
     <td style = "padding: 5px 0 !important;vertical-align: top !important;">
       <p style='color:white'>PLAYERS (x13 - x15)</p>
       <small style='color:white; display:block;'>(x2 - x4)Villager</small>
       <small style='color:white; display:block;'>(x1)Seer</small>
       <small style='color:white; display:block;'>(x1)Fool</small>
       <small style='color:white; display:block;'>(x1)Cryptkeeper</small>
       <small style='color:white; display:block;'>(x1)Executioner</small>
       <small style='color:white; display:block;'>(x1)Paladin</small>
       <small style='color:white; display:block;'>(x1)Techie</small>
       <small style='color:white; display:block;'>(x1)Mantis</small>
       <small style='color:white; display:block;'>(x1)Assassin</small>
       <small style='color:white; display:block;'>(x1)Spectre</small>
       <small style='color:white; display:block;'>(x1)Hellion</small>
       <small style='color:white; display:block;'>(x1)Ghoul</small>
     </td>
     <td style = "padding: 5px 0 !important;vertical-align: top !important;">
       <p style='color:white'>PLAYERS (x13 - x15)</p>
       <small style='color:white; display:block;'>(x1 - x3)Villager</small>
       <small style='color:white; display:block;'>(x1)Seer</small>
       <small style='color:white; display:block;'>(x1)Fool</small>
       <small style='color:white; display:block;'>(x1)Executioner</small>
       <small style='color:white; display:block;'>(x1)Mayor</small>
       <small style='color:white; display:block;'>(x1)Hunter</small>
       <small style='color:white; display:block;'>(x1)Assassin</small>
       <small style='color:white; display:block;'>(x1)Drunk</small>
       <small style='color:white; display:block;'>(x1)Techie</small>
       <small style='color:white; display:block;'>(x1)Jester</small>
       <small style='color:white; display:block;'>(x1)Hellion</small>
       <small style='color:white; display:block;'>(x1)Shade</small>
       <small style='color:white; display:block;'>(x1)Lich</small>
     </td>
     <td style = "padding: 5px 0 !important;vertical-align: top !important;">
       <p style='color:white'>PLAYERS (x13 - x15)</p>
       <small style='color:white; display:block;'>(x2 - x4)Villager</small>
       <small style='color:white; display:block;'>(x1)Seer</small>
       <small style='color:white; display:block;'>(x1)Fool</small>
       <small style='color:white; display:block;'>(x1)Cryptkeeper</small>
       <small style='color:white; display:block;'>(x1)Paladin</small>
       <small style='color:white; display:block;'>(x1)Courier</small>
       <small style='color:white; display:block;'>(x1)Hunter</small>
       <small style='color:white; display:block;'>(x1)Mantis</small>
       <small style='color:white; display:block;'>(x1)Hazmat</small>
       <small style='color:white; display:block;'>(x1)Zombie</small>
       <small style='color:white; display:block;'>(x1)Lich</small>
       <small style='color:white; display:block;'>(x1)Imp</small>
     </td>
  </table>
  <table style='border-spacing: 30px 0 !important; border-collapse: separate !important; margin-left: auto !important; margin-right: auto !important;'>
     <tr>
      <th><h5 style='color:white'>13. MILLENIAL MINES</h5></th>
      <th><h5 style='color:white'>14. NORONTO CITY</h5></th>
      <th><h5 style='color:white'>15. CHARON'S CRATER</h5></th>
      <th><h5 style='color:white'>16. WANDERING WASTES</h5></th>
      <th><h5 style='color:white'>17. EL DORITO</h5></th>
      <th><h5 style='color:white'>18. MAYHEM MOUNTAIN</h5></th>
    </tr>
    <tr>
       <td style = "padding: 5px 0 !important;vertical-align: top !important;">
        <p style='color:white'>A slightly easier variation of Classicville featuring an added pair of Masons.</p>
       </td>
       <td style = "padding: 5px 0 !important;vertical-align: top !important;">
        <p style='color:white'>The city that never sleeps, this large map features tough roles on both sides with a Techie wedged in the middle.</p>
       </td>
       <td style = "padding: 5px 0 !important;vertical-align: top !important;">
        <p style='color:white'>With several explosive abilities at play, the Masons must coordinate with the town to survive the fire and brimstone.</p>
       </td>
       <td style = "padding: 5px 0 !important;vertical-align: top !important;">
        <p style='color:white'>Unrestrained by the absence of a Fool, the Seer and its allies face one of the most powerful monster groups possible.</p>
       </td>
       <td style = "padding: 5px 0 !important;vertical-align: top !important;">
        <p style='color:white'>A standoffish role set means the town must work carefully with the neutral players to determine who the Archdemon has bound.</p>
       </td>
       <td>
        <p style='color:white'>The most lethal town possible. Plans will be undone. Alliances will be broken. All will be claimed by the mountain.</p>
       </td>
    </tr>
    <tr>
     <td style = "padding: 5px 0 !important;vertical-align: top !important;">
       <p style='color:white'>PLAYERS (x14 - x16)</p>
       <small style='color:white; display:block;'>(x2 - x4)Villager</small>
       <small style='color:white; display:block;'>(x2)Mason</small>
       <small style='color:white; display:block;'>(x1)Seer</small>
       <small style='color:white; display:block;'>(x1)Fool</small>
       <small style='color:white; display:block;'>(x1)Beholder</small>
       <small style='color:white; display:block;'>(x1)Paladin</small>
       <small style='color:white; display:block;'>(x1)Hunter</small>
       <small style='color:white; display:block;'>(x1)Assassin</small>
       <small style='color:white; display:block;'>(x1)Cursed</small>
       <small style='color:white; display:block;'>(x1)Ghoul</small>
       <small style='color:white; display:block;'>(x1)Lich</small>
       <small style='color:white; display:block;'>(x1)Shade</small>
     </td>
     <td style = "padding: 5px 0 !important;vertical-align: top !important;">
       <p style='color:white'>PLAYERS (x14 - x16)</p>
       <small style='color:white; display:block;'>(x2 - x4)Villager</small>
       <small style='color:white; display:block;'>(x1)Seer</small>
       <small style='color:white; display:block;'>(x1)Fool</small>
       <small style='color:white; display:block;'>(x1)Beholder</small>
       <small style='color:white; display:block;'>(x1)Cryptkeeper</small>
       <small style='color:white; display:block;'>(x1)Mayor</small>
       <small style='color:white; display:block;'>(x1)Paladin</small>
       <small style='color:white; display:block;'>(x1)Hunter</small>
       <small style='color:white; display:block;'>(x1)Techie</small>
       <small style='color:white; display:block;'>(x1)Cursed</small>
       <small style='color:white; display:block;'>(x1)Zombie</small>
       <small style='color:white; display:block;'>(x1)Lich</small>
       <small style='color:white; display:block;'>(x1)Shade</small>
     </td>
     <td style = "padding: 5px 0 !important;vertical-align: top !important;">
       <p style='color:white'>PLAYERS (x14 - x16)</p>
       <small style='color:white; display:block;'>(x2 - x4)Villager</small>
       <small style='color:white; display:block;'>(x2)Mason</small>
       <small style='color:white; display:block;'>(x1)Seer</small>
       <small style='color:white; display:block;'>(x1)Fool</small>
       <small style='color:white; display:block;'>(x1)Apprentice</small>
       <small style='color:white; display:block;'>(x1)Paladin</small>
       <small style='color:white; display:block;'>(x1)Hunter</small>
       <small style='color:white; display:block;'>(x1)Assassin</small>
       <small style='color:white; display:block;'>(x1)Techie</small>
       <small style='color:white; display:block;'>(x1)Ghoul</small>
       <small style='color:white; display:block;'>(x1)Lich</small>
       <small style='color:white; display:block;'>(x1)Hellion</small>
     </td>
     <td style = "padding: 5px 0 !important;vertical-align: top !important;">
       <p style='color:white'>PLAYERS (x14 - x16)</p>
       <small style='color:white; display:block;'>(x2 - x4)Villager</small>
       <small style='color:white; display:block;'>(x1)Paladin</small>
       <small style='color:white; display:block;'>(x1)Hunter</small>
       <small style='color:white; display:block;'>(x1)Seer</small>
       <small style='color:white; display:block;'>(x1)Apprentice</small>
       <small style='color:white; display:block;'>(x1)Cryptkeeper</small>
       <small style='color:white; display:block;'>(x1)Assassin</small>
       <small style='color:white; display:block;'>(x1)Jester</small>
       <small style='color:white; display:block;'>(x1)Techie</small>
       <small style='color:white; display:block;'>(x1)Cursed</small>
       <small style='color:white; display:block;'>(x1)Spectre</small>
       <small style='color:white; display:block;'>(x1)Lich</small>
       <small style='color:white; display:block;'>(x1)Shade</small>
     </td>
     <td style = "padding: 5px 0 !important;vertical-align: top !important;">
       <p style='color:white'>PLAYERS (x14 - x16)</p>
       <small style='color:white; display:block;'>(x2 - x4)Villager</small>
       <small style='color:white; display:block;'>(x2)Mason</small>
       <small style='color:white; display:block;'>(x2)Duelist</small>
       <small style='color:white; display:block;'>(x1)Seer</small>
       <small style='color:white; display:block;'>(x1)Fool</small>
       <small style='color:white; display:block;'>(x1)Drunk</small>
       <small style='color:white; display:block;'>(x1)Assassin</small>
       <small style='color:white; display:block;'>(x1)Mayor</small>
       <small style='color:white; display:block;'>(x1)Archdemon</small>
       <small style='color:white; display:block;'>(x1)Ghoul</small>
       <small style='color:white; display:block;'>(x1)Shade</small>
     </td>
     <td style = "padding: 5px 0 !important;vertical-align: top !important;">
       <p style='color:white'>PLAYERS (x14 - x16)</p>
       <small style='color:white; display:block;'>(x2 - x4)Villager</small>
       <small style='color:white; display:block;'>(x1)Seer</small>
       <small style='color:white; display:block;'>(x1)Fool</small>
       <small style='color:white; display:block;'>(x1)Hunter</small>
       <small style='color:white; display:block;'>(x1)Paladin</small>
       <small style='color:white; display:block;'>(x1)Executioner</small>
       <small style='color:white; display:block;'>(x1)Assassin</small>
       <small style='color:white; display:block;'>(x1)Hazmat</small>
       <small style='color:white; display:block;'>(x1)Mantis</small>
       <small style='color:white; display:block;'>(x1)Techie</small>
       <small style='color:white; display:block;'>(x1)Bonewheel</small>
       <small style='color:white; display:block;'>(x1)Spectre</small>
       <small style='color:white; display:block;'>(x1)Archdemon</small>
     </td>
    </tr>
    <tr>
     <th><h5 style='color:white'>19. FAMINE FIELDS</h5></th>
     <th><h5 style='color:white'>20. PESTILENT PYRAMID</h5></th>
     <th><h5 style='color:white'>21. DEATHLY DISTRICT</h5></th>
     <th><h5 style='color:white'>22. WAR WAREHOUSE</h5></th>
   </tr>
   <tr>
      <td style = "padding: 5px 0 !important;vertical-align: top !important;">
       <p style='color:white'>Tiny map featuring Lich + Zombie.</p>
      </td>
      <td style = "padding: 5px 0 !important;vertical-align: top !important;">
       <p style='color:white'>Tiny map featuring Spectre + Shade.</p>
      </td>
      <td style = "padding: 5px 0 !important;vertical-align: top !important;">
       <p style='color:white'>Tiny map featuring Hellion + Bonewheel.</p>
      </td>
      <td style = "padding: 5px 0 !important;vertical-align: top !important;">
       <p style='color:white'>Tiny map featuring Ghoul + Archdemon.</p>
      </td>
   </tr>
   <tr>
    <td style = "padding: 5px 0 !important;vertical-align: top !important;">
      <p style='color:white'>PLAYERS (x8 - x11)</p>
      <small style='color:white; display:block;'>(x2 - x5)Villager</small>
      <small style='color:white; display:block;'>(x1)Seer</small>
      <small style='color:white; display:block;'>(x1)Fool</small>
      <small style='color:white; display:block;'>(x1)Hunter</small>
      <small style='color:white; display:block;'>(x1)Techie</small>
      <small style='color:white; display:block;'>(x1)Zombie</small>
      <small style='color:white; display:block;'>(x1)Lich</small>
    </td>

     <td style = "padding: 5px 0 !important;vertical-align: top !important;">
       <p style='color:white'>PLAYERS (x8 - x11)</p>
       <small style='color:white; display:block;'>(x1 - x4)Villager</small>
       <small style='color:white; display:block;'>(x1)Drunk</small>
       <small style='color:white; display:block;'>(x1)Seer</small>
       <small style='color:white; display:block;'>(x1)Fool</small>
       <small style='color:white; display:block;'>(x1)Paladin</small>
       <small style='color:white; display:block;'>(x1)Beholder</small>
       <small style='color:white; display:block;'>(x1)Shade</small>
       <small style='color:white; display:block;'>(x1)Spectre</small>
     </td>

     <td style = "padding: 5px 0 !important;vertical-align: top !important;">
       <p style='color:white'>PLAYERS (x8 - x11)</p>
       <small style='color:white; display:block;'>(x2 - x5)Villager</small>
       <small style='color:white; display:block;'>(x1)Seer</small>
       <small style='color:white; display:block;'>(x1)Fool</small>
       <small style='color:white; display:block;'>(x1)Executioner</small>
       <small style='color:white; display:block;'>(x1)Mayor</small>
       <small style='color:white; display:block;'>(x1)Hellion</small>
       <small style='color:white; display:block;'>(x1)Bonewheel</small>
     </td>

     <td style = "padding: 5px 0 !important;vertical-align: top !important;">
       <p style='color:white'>PLAYERS (x8 - x11)</p>
       <small style='color:white; display:block;'>(x1 - x4)Villager</small>
       <small style='color:white; display:block;'>(x1)Mantis</small>
       <small style='color:white; display:block;'>(x1)Seer</small>
       <small style='color:white; display:block;'>(x1)Fool</small>
       <small style='color:white; display:block;'>(x1)Courier</small>
       <small style='color:white; display:block;'>(x1)Cryptkeeper</small>
       <small style='color:white; display:block;'>(x1)Ghoul</small>
       <small style='color:white; display:block;'>(x1)Archdemon</small>
     </td>
    </tr>
  </table>
</div>

</body>
</html>
